body{
    background-color: rgb(35, 35, 35);
    margin: 0;
  }
  .navbar{
      overflow: hidden;
      background-color: red;
  }
  .navbar a{
      float: right;
      text-align: center;
      padding: 15px;
      text-decoration: none;
      font-size: 18px;
      color: white;
      font-weight: bold;
  }
  .navbar a:hover {
      background-color: rgb(35, 35, 35);
      color: red;
  }
  .navbar a.active{
      background-color: rgb(35, 35, 35);
      color: red;
  }
  .center{
    padding-top: 40px;
    margin: 0 auto;
    width: 400px;
  }
  .about{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      margin-left: 30px;
      color: white;
      margin: 20px;
      padding: 10px;
      border: 5px solid red;
      height: 450px;
      width: 350px;
  }
  .about ul{
      font-style: italic;
  }
  #giflogo{
    padding-top: 40px;
    margin: 0 auto;
    width: 400px;
  }